doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='chrome=1')
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no, maximum-scale=1.0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')

    title Boarding Pass Preview
    meta(name='description', content='Boarding Pass Preview')
    meta(name='author', content='Michael LaCroix, James LaCroix')

    link(rel='stylesheet' href='/style.css')

  body(style="max-width: 800px; margin: 3em auto;")
    h1.tera Heading Tera
    h1.giga Heading Giga
    h1.mega Heading Mega
    h1.alpha Heading Alpha
    h2.beta Heading Beta
    h3.gamma Heading Gamma
    h4.delta Heading Delta
    h5.epsilon Heading Epsilon
    h6.zeta Heading Zeta
    hr

    h1 heading h1
    p Monocle ipsum text with <a href='#'>an example link</a>, <em>an example &lt;em&gt; element</em>, and <strong>an example &lt;strong&gt; element</strong>. Iconic cutting-edge Tsutaya essential sharp. Flat white signature business class, Nordic extraordinary Ginza St Moritz Baggu exquisite the best wardrobe discerning izakaya cosy Porter. Scandinavian Winkreative Helsinki Washlet Boeing 787 artisanal hub bureaux impeccable boulevard the best Lufthansa joy.
    h2 heading h2
    p Iconic cutting-edge Tsutaya essential sharp. Flat white signature business class, Nordic extraordinary Ginza St Moritz Baggu exquisite the best wardrobe discerning izakaya cosy Porter. Scandinavian Winkreative Helsinki Washlet Boeing 787 artisanal hub bureaux impeccable boulevard the best Lufthansa joy. Soft power concierge charming Fast Lane discerning, bureaux cutting-edge Toto elegant vibrant. Tsutaya remarkable classic charming uniforms signature, espresso exclusive lovely Swiss.
    h3 heading h3
    p Monocle ipsum dolor sit amet st Moritz tote bag uniforms Zürich Asia-Pacific, Winkreative pintxos charming craftsmanship destination boulevard Baggu. Premium Muji Porter, Tsutaya perfect first-class artisanal exclusive iconic exquisite Washlet. Washlet izakaya uniforms soft power Airbus A380 espresso. International ryokan artisanal Singapore. Concierge Muji perfect craftsmanship elegant ryokan Nordic Toto Ettinger charming discerning Airbus A380 boulevard Lufthansa.
    h4 heading h4
    p Monocle ipsum dolor sit amet st Moritz tote bag uniforms Zürich Asia-Pacific, Winkreative pintxos charming craftsmanship destination boulevard Baggu. Premium Muji Porter, Tsutaya perfect first-class artisanal exclusive iconic exquisite Washlet. Washlet izakaya uniforms soft power Airbus A380 espresso. International ryokan artisanal Singapore. Concierge Muji perfect craftsmanship elegant ryokan Nordic Toto Ettinger charming discerning Airbus A380 boulevard Lufthansa.
    h5 heading h5
    p Monocle ipsum dolor sit amet st Moritz tote bag uniforms Zürich Asia-Pacific, Winkreative pintxos charming craftsmanship destination boulevard Baggu. Premium Muji Porter, Tsutaya perfect first-class artisanal exclusive iconic exquisite Washlet. Washlet izakaya uniforms soft power Airbus A380 espresso. International ryokan artisanal Singapore. Concierge Muji perfect craftsmanship elegant ryokan Nordic Toto Ettinger charming discerning Airbus A380 boulevard Lufthansa.
    h6 heading h6
    p
    Monocle ipsum dolor sit amet st Moritz tote bag uniforms Zürich Asia-Pacific, Winkreative pintxos charming craftsmanship destination boulevard Baggu. Premium Muji Porter, Tsutaya perfect first-class artisanal exclusive iconic exquisite Washlet. Washlet izakaya uniforms soft power Airbus A380 espresso. International ryokan artisanal Singapore. Concierge Muji perfect craftsmanship elegant ryokan Nordic Toto Ettinger charming discerning Airbus A380 boulevard Lufthansa.

    ul
      li First item
      li Second item
      li Third item
        ul
          li First item
          li Second item
          li Third item
          li Fourth item
      li Fourth item
      li Fifth item
      li Sixth item

    pre
      | # &lt;pre&gt; tags
      | 3.times do |i|
      | &nbsp;&nbsp;p i
      | end

    p Monocle ipsum dolor sit amet st Moritz tote bag uniforms Zürich Asia-Pacific, Winkreative pintxos charming craftsmanship destination boulevard Baggu. Premium Muji Porter, Tsutaya perfect first-class artisanal exclusive iconic exquisite Washlet. Washlet izakaya uniforms soft power Airbus A380 espresso. International ryokan artisanal Singapore. Concierge Muji perfect craftsmanship elegant ryokan Nordic Toto Ettinger charming discerning Airbus A380 boulevard Lufthansa.
    blockquote
      p Monocle ipsum dolor sit amet st Moritz tote bag uniforms Zürich Asia-Pacific, Winkreative pintxos charming craftsmanship destination boulevard Baggu. Premium Muji Porter, Tsutaya perfect first-class artisanal exclusive iconic exquisite Washlet. Washlet izakaya uniforms soft power Airbus A380 espresso.
      p Premium Muji Porter, Tsutaya perfect first-class artisanal exclusive iconic exquisite Washlet. Washlet izakaya uniforms soft power Airbus A380 espresso. International ryokan artisanal Singapore. Concierge Muji perfect craftsmanship elegant ryokan Nordic Toto Ettinger charming discerning Airbus A380 boulevard Lufthansa.
    p Monocle ipsum dolor sit amet st Moritz tote bag uniforms Zürich Asia-Pacific, Winkreative pintxos charming craftsmanship destination boulevard Baggu. Premium Muji Porter, Tsutaya perfect first-class artisanal exclusive iconic exquisite Washlet. Washlet izakaya uniforms soft power Airbus A380 espresso. International ryokan artisanal Singapore. Concierge Muji perfect craftsmanship elegant ryokan Nordic Toto Ettinger charming discerning Airbus A380 boulevard Lufthansa.
    p
      small Monocle ipsum dolor sit amet st Moritz tote bag uniforms Zürich Asia-Pacific, Winkreative pintxos charming craftsmanship destination boulevard Baggu. Premium Muji Porter, Tsutaya perfect first-class artisanal exclusive iconic exquisite Washlet. Washlet izakaya uniforms soft power Airbus A380 espresso. International ryokan artisanal Singapore. Concierge Muji perfect craftsmanship elegant ryokan Nordic Toto Ettinger charming discerning Airbus A380 boulevard Lufthansa.

    hr
    h1 heading h1
    h2 heading h2
    h3 heading h3
    h4 heading h4
    h5 heading h5
    h6 heading h6
