// Faux Box Shadow (IE8)
@mixin faux-box-shadow($border: border, $size: 1px, $color: #CCC) {
  #{$border}: #{$size} solid #{$color};
  #{$border}: 0 solid rgba(0,0,0,0);
}

// Mostly cross-browser opacity
@mixin oh-pacity($level: 1) {
  $ms-level: $level*100;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$ms-level})";
  filter: alpha(opacity=#{$ms-level});
  -moz-opacity: #{$level};
  -khtml-opacity: #{$level};
  opacity: #{$level};
}

// Remove margins & style from a list
@mixin unstyled-list {
  list-style: none outside;
  margin: 0;
}

// Prepend selectors with a class specific to old IE
@mixin media-ie($args...) {

  @if length($args) > 0 {
    @include media($args) {
      @content;
    }
  }

  .old-ie & {
    @content;
  }

}

// Add min-width to containers for old IE
@mixin ie-width {
  .old-ie & {
    min-width: $breakpoint-ipad;
  }
}
