* {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

html body {
  padding-left: 0;  // IE
  padding-right: 0; // IE
}

body {
  padding: 0;
  margin: 0;
  background: #fff;
}

::selection {
  background: $default-silver;
  color: $default-black;
}

a,
a:hover,
a:focus,
a:visited {
  color: inherit;
}

em {
  font-style: italic;
}

hr {
  clear: both;
  height: 0;
  margin: 1em 0;
  border: solid #ddd;
  border-width: 1px 0 0;
}
