// Opacity
@mixin opacity($level: 1){
  $ms-level: $level*100;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$ms-level})";
  filter: alpha(opacity=#{$ms-level});
  opacity: #{$level};
}
