// default breakpoints
$breakpoint-ipad: 768px;
$breakpoint-desktop: 900px;
$breakpoint-large-screen: 1200px;

// default typefaces
$typeface-sans:  Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
$typeface-serif: Georgia, Cambria, "Times New Roman", Times, serif;
