$typeface-sans:  Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
$typeface-serif: Georgia, Cambria, "Times New Roman", Times, serif;

body {
  font-size: 100%;
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p {}

em {
  font-style: italic;
}

strong {
  // TODO remove this property
  // This is already set to: `font-weight: bold;`
  // in the _normalize.scss file
}

small {
  // TODO remove this property
  // This is already set to: `font-size: 80%;`
  // in the _normalize.scss file
}

a,
a:hover,
a:focus,
a:visited {
  color: inherit;
}

blockquote,
blockquote p {
  // font-size: 1.125em;
  // line-height: 1.35em;
  // font-style: italic;
}

blockquote {
  // margin: 0 0 1.25em;
  // padding: 0.5em 1.25em 0 1.25em;
  // border-left: 1px solid #ddd;
}
