// Headings
h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.75em;
}

// Elements
p {
  margin: 0 0 1em 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}

a,
a:hover,
a:focus,
a:visited {
  color: inherit;
  text-decoration: none;
  outline: 0;
}

blockquote,
blockquote p {
  font-size: 1.125em;
  line-height: 1.35em;
  color: #777;
  font-style: italic;
}

blockquote {
  margin: 0 0 1.25em;
  padding: 0.5em 1.25em 0 1.25em;
  border-left: 1px solid #ddd;
}
